/Big_data_memo.docx
/Iteration 4 (hdfs).pdf
/iteration1_captures.pdf
/Itération 0.pdf
/Itération 1.pdf
/Itération 2.pdf
/Itération 3.pdf
/Itération 5 (Streaming).pdf
/Playground.ipynb
/~$g_data_memo.docx
/~WRL0003.tmp